<nav id="mobilenav">
  <div class="mobilenav__inner">
    <div class="toplg">
      <div class="logo">
        <a class="logo-link" href="#"><img src="./image/共通_01_画面上部_01_ALEXロゴ.png" alt="Logo"></a>
      </div>
    </div>

    <div class="menu-primary-menu-ja-container">
      <ul id="menu-main" class="mobile-menu">
          <li class="menu-item"><a href="about-page.html">
          <span data-lang="ja">について</span><span data-lang="vi">GIỚI THIỆU</span><span data-lang="en">ABOUT</span></a></li>

          <li class="menu-item"><a href="service-page.html">
          <span data-lang="ja">サービス</span><span data-lang="vi">DỊCH VỤ</span><span data-lang="en">SERVICE</span></a></li>

          <li class="menu-item"><a href="works-page.html">
          <span data-lang="ja">製品</span><span data-lang="vi">SẢN PHẨM</span><span data-lang="en">WORKS</span></a></li>

          <li class="menu-item"><a href="recruit-page.html">
          <span data-lang="ja">リクルート</span><span data-lang="vi">TUYỂN DỤNG</span><span data-lang="en">RECRUIT</span></a></li>

          <li class="menu-item"><a href="access-page.html">
          <span data-lang="ja">アクセス</span><span data-lang="vi">TRUY CẬP</span><span data-lang="en">ACCESS</span></a></li>

          <li class="menu-item"><a href="contact-page.html">
          <span data-lang="ja">接触</span><span data-lang="vi">LIÊN HỆ</span><span data-lang="en">CONTACT</span></a></li>
      </ul>
    </div>

    <a class="menu_close"><i class="fas fa-angle-left"></i></a>
  </div>
</nav>

<header id="masthead" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <div class="header-main">
    <div class="container">
      <div class="header-content">
        <a id="showmenu" class="d-lg-none">
          <span class="hamburger hamburger--collapse">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
          </span>
        </a>

        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2 col-4">
            <div class="logo">
              <a class="logo-link" href="#"><img src="./image/共通_01_画面上部_01_ALEXロゴ.png" alt="Logo"></a>
            </div>
          </div>

          <div class="col-xl-10 col-lg-9 col-7">
            <div class="top-menu">
              <div class="top-language">
                <section id="polylang-2" class="widget widget_polylang">
                  <ul>
                    <!-- Luôn hiện CẢ 2 lá cờ -->
                    <li class="lang-item lang-item-ja">
                      <a href="#" class="lang-btn" data-lang="ja">
                        <img src="./image/jp-image.png" alt="日本語" width="16" height="11">
                      </a>
                    </li>
                    <li class="lang-item lang-item-vi">
                      <a href="#" class="lang-btn" data-lang="vi">
                        <img src="./image/vn-image.png" alt="Tiếng Việt" width="16" height="11">
                      </a>
                    </li>
                      <li class="lang-item lang-item-en">
                      <a href="#" class="lang-btn" data-lang="en">
                        <img src="./image/en-image.png" alt="English" width="16" height="11">
                      </a>
                    </li>
                  </ul>
                </section>
              </div>

              <nav id="site-navigation" class="main-navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
                <div class="menu-primary-menu-ja-container">
                  <ul id="primary-menu" class="menu clearfix">
                    <!-- Dùng 2 span/label cho mỗi ngôn ngữ; URL giữ nguyên (một bộ trang duy nhất) -->
                    <li class="menu-item"><a href="about-page.html">
                      <span data-lang="ja">について</span><span data-lang="vi">GIỚI THIỆU</span><span data-lang="en">ABOUT</span></a></li>

                    <li class="menu-item"><a href="service-page.html">
                      <span data-lang="ja">サービス</span><span data-lang="vi">DỊCH VỤ</span><span data-lang="en">SERVICE</span></a></li>

                    <li class="menu-item"><a href="works-page.html">
                      <span data-lang="ja">製品</span><span data-lang="vi">SẢN PHẨM</span><span data-lang="en">WORKS</span></a></li>

                    <li class="menu-item"><a href="recruit-page.html">
                      <span data-lang="ja">リクルート</span><span data-lang="vi">TUYỂN DỤNG</span><span data-lang="en">RECRUIT</span></a></li>

                    <li class="menu-item"><a href="access-page.html">
                      <span data-lang="ja">アクセス</span><span data-lang="vi">TRUY CẬP</span><span data-lang="en">ACCESS</span></a></li>

                    <li class="menu-item"><a href="contact-page.html">
                      <span data-lang="ja">接触</span><span data-lang="vi">LIÊN HỆ</span><span data-lang="en">CONTACT</span></a></li>
                  </ul>
                </div>
              </nav>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
